.container {
  margin: -24px;
  background-color: #F5F5F5 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 45px;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .total {
      margin: 30px 0;
    }
  }
}
.form-field {
  background-color: #DDE4FF;
  border-radius: 20px;
  margin-bottom: 20px;
}
.date-picker {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 5px;
}
.icon-location {
  background-image: url(../../../../assets/Location_.png);
  padding-left: 10px;
}

.icon-clock{
  background-image: url(../../../../assets/clock.png);
  padding-left: 10px;
  margin-left: 5px;
}

.input {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #78859A;
}
.total {
  display: flex;
  align-items: center;
  color: #78859A;
  background-color: #DDE4FF;
  padding: 14px 8px;
  border-radius: 12px;
  margin: 0 100px;
}
