.wrap {
  padding: 45px;
}

.icon {
  background-image: url(../../../../assets/Location_.png);
  padding-left: 10px;
}

.input {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #78859A;
}

mat-form-field.mat-form-field {
  background-color: #DDE4FF;
}


