<div class="container">
  <form class="form">
    <h1 class="title">Driver information</h1>
    <div>
      <mat-hint matSuffix>Driver</mat-hint>
    </div>
    <mat-button-toggle-group aria-label="people" class="button-group">
      <mat-button-toggle
        #self
        (change)="onToggle(self)"
        value="self"
        checked="true"
        [ngClass]="toggle ? 'tog-button active' : 'tog-button'"
        ><mat-icon *ngIf="toggle">person</mat-icon> Self</mat-button-toggle
      >
      <mat-button-toggle
        #other
        (change)="onToggle(other)"
        value="other"
        [ngClass]="!toggle ? 'tog-button active' : 'tog-button'"
        ><mat-icon *ngIf="!toggle">people</mat-icon> Other
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form>
</div>
