.container {
  margin-bottom: 40px;
  .form {
    .button-group {
      margin-right: 25px;
    }
  }
  .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #1E3356;
  }
}
mat-hint {
  position: relative;
  top: -11px;
}
.button-group {
  width: 400px;
  border: none;
  top: -10px;
}
.input {
  padding-bottom: 5px;
  padding-left: 5px;
}

.tog-button {
  border-radius: 10px;
  width: 100%;
  &.active {
    background-color: #DDE4FF;;
  }
}
